[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xmltodict = "*"
dataclasses-json = "*"
arrow = "*"
pytz = "*"
python-dateutil = "*"
click = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
rope = "*"
mypy = "*"
pytest = "==4.0.2"
sphinx = "*"

[requires]
python_version = "3.7"
